.settingsBar {
    height: 60px;
    width: 100%;
    border-bottom: 2px solid #CFD8DC;
    margin-bottom: 20px;
    background-color: white;
    position: fixed;
    z-index: 9;
}

.settingsContent {
    padding-top: 60px;
    height: calc(100vh - 60px);
    margin: 0 auto;
}