.radio {
  label:before {
    border-radius: 8px;
  }

  label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-family: Lato;
    font-size: 13px;
    font-weight: 300;
    color: #888888;
  }

  input[type=radio] {
    display: none;
  }

  label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #fff;
    border: 2px solid #C8CED0;
  }

  input[type=radio]:checked + label:before {
    content: "\2022";
    color: #fff;
    background-color: #E52466;
    border: 1px solid #E52466;
    font-size: 13px;
    text-align: center;
    line-height: 13px;
  }
}
