@import '~globals.scss';

.active {
    overflow-y: scroll;
}
.body {
    margin: 0 auto;
    width: 600px;
    flex-grow: 0;
}
.normal {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;    
}
.title {
    font-family: $brandFont;
    font-size: 24px;
    font-weight: $black;
    color: $textColor;
}

.navigation {
    margin: 0 auto;
}