.submit {
    float: right;
    button {
        background-color: #E81C64 !important;
    }
}

.updateAvatar {
    position: absolute !important;
    width: 180px;
    height: 180px !important;
    top: 0;
    left: 0;
    right: 0;
    color: #fff !important;

    &:hover {
        background-color: rgba(0,0,0,.5) !important;
    }
}

h1, h2, h3, h4, h5, h6, p {
    color: #6F6F6F;
}

.radioButton {
    width: 33%;
    margin-top: 20px;
    display: inline-block;
}

.radio {
    border: 0.2rem solid #6F6F6F;
    &:before {
        background-color:  #6F6F6F;
    }
    .ripple {
        background-color: rgba(111, 111, 111, 0.5);
    }
}

.text {
    color: #6F6F6F;
}

.radioChecked {
    border: 0.2rem solid #E81C64;
    &:before {
        background-color:  #E81C64;
    }
    .ripple {
        background-color: rgba(232, 28, 100, 0.5);
    }
}

.image {
    border-radius: 0;
}
