@import '~globals.scss';

.menuItem {
    background-color: transparent;
    color: #8C9497;
    width: 200px;
    padding: 0;
    margin: 0 auto;
    height: 34px;
    font-size: 13px;
    &:hover {
        background-color: #E7ECEE !important;
    }
}
.caption {
    color: #8C9497;
    font-family: $brandFont;
    width: 3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
}

.icon {
    text-align: center;
    i {
        font-size: 15px !important;
    }
    span {
        font-size: 15px !important;
    }
}
.selected {
    background-color: #E7ECEE !important;
}

.disabled {
    background-color: rgba(255,255,255, .35);
    &:hover {
        background-color: rgba(255,255,255, .35);
    }
}
