@import 'lib/react-redux-toastr/src/styles/index';

/************* Colors **************
***********************************/

$magenta: #E52466;
$magentaDarker: #C41259;
$magentaDarkest: #9C0247;
$grey: #6F6F6F;
$lightGrey: #ACB5B8;

//Theme colors
$primaryColor: $magenta;
$textColor: $grey;

/************* Fonts ***************
***********************************/
$brandFont: 'Lato', sans-serif;
$black: 900;
$bold: 700;
$regular: 400;
$light: 300;

/************* Buttons *************
***********************************/
$primaryButtonColor: $primaryColor;
$primaryButtonHoverColor: $magentaDarker;
$primaryButtonActiveColor: $magentaDarkest;
$buttonTextColor: white;

/************* Inputs **************
***********************************/
